<!-- main app container -->
<div class="bg h-50">
  <div class="b-5 fs">
      <div class="row text-align-center">
        <div class="col-md-4 pg-top fs-head">BOOKS <img src="../assets/images/books.png" class="img-w"/></div>
        <div class="col-md-4"></div>
        <div class="col-md-4 pg-top cursor" (click)="goToCart()"><img src="../assets/images/cart.png" class="img-w"/><span matBadge="{{count}}" matBadgeOverlap="false">Cart</span></div>
      </div>
  </div>
</div>

<ng-container *ngIf="!showCart">
  <div class="row pg justify-center" *ngFor="let todo of todos">
    <div class="col-md-2"></div>
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>{{todo.name}}</mat-card-title>
        <mat-card-subtitle>by {{todo.author_name}} {{todo.date_dt}}</mat-card-subtitle>
        <mat-card-subtitle><ngb-rating [(rate)]="currentRate" class="rating"></ngb-rating></mat-card-subtitle>
        <mat-card-subtitle>₹ {{todo.price}}</mat-card-subtitle>
        <mat-card-subtitle><mat-card-actions>
          <button mat-button class="cart-btn-color" (click)="addCart(todo.id,todo)"><img src="../assets/images/cart.png" class="img-w"/>Add To Cart</button>
          <button mat-button class="cart-whis-btn"><img src="../assets/images/heart (2).png" class="img-w"/>Whislist</button>
        </mat-card-actions></mat-card-subtitle>
        <img mat-card-xl-image src={{todo.img_url}} >
      </mat-card-title-group>
      <mat-card-content>
        {{todo.description}}
      </mat-card-content>
    </mat-card>
    <div class="col-md-2"></div>
  </div>
</ng-container>

<ng-container *ngIf="showCart">
  <div class="text-align-end pg"><button mat-raised-button class="back-btn" (click)="back()">Back</button></div>
  <div class="pg bg-cart">
    <mat-card class="fs-head">SHOPPING CART</mat-card>
  </div>
  <ng-container *ngIf="cartData.length === 0 || cartData.length === []">
    <mat-card class="fs-cart pg">Your Cart is empty.</mat-card>
  </ng-container>
    <mat-card class="pg" *ngFor="let cart of cartData">
      <div class="text-align-end">Price</div>
      <hr>
      <div class="row">
        <div class="col-md-3"><img src="{{cart.img_url}}" class="cart-img"/></div>
        <div class="col-md-8">
          <div>{{cart.name}}</div>
          <div>{{cart.author_name}}</div>
          <div>{{cart.description}}</div>
          <div class="stock-txt">In Stock</div>
          <div><div class="example-button-row">
            <div class="row justify-space">
              <div class="col-md-6">
                <button mat-raised-button [matMenuTriggerFor]="menu">Qty : {{cart.qty || 1}}</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="remove(cart.id,cart)"> 0 (delete)</button>
                  <button mat-menu-item (click)="getQty('1',cart)"> 1</button>
                  <button mat-menu-item (click)="getQty('2',cart)"> 2</button>
                  <button mat-menu-item (click)="getQty('3',cart)"> 3</button>
                  <button mat-menu-item (click)="getQty('4',cart)"> 4</button>
                  <button mat-menu-item (click)="getQty('5',cart)"> 5</button>
                  <button mat-menu-item (click)="getQty('6',cart)"> 6</button>
                  <button mat-menu-item (click)="getQty('7',cart)"> 7</button>
                  <button mat-menu-item (click)="getQty('8',cart)"> 8</button>
                  <button mat-menu-item (click)="getQty('9',cart)"> 9</button>
                  <button mat-menu-item (click)="getQty('10',cart)"> 10+</button>
                </mat-menu>
            <!-- <button mat-raised-button (click)="qty(cart.id,cart)">Qty : {{cart.qty || 1}}</button> -->
            <button mat-raised-button color="warn" (click)="remove(cart.id,cart)">Delete</button>
            </div>
            </div>
          </div></div>
        </div>
        <div class="col-md-1 text-align-end fs-price">₹ {{cart.price}}</div>
      </div>
      <hr>
      <div class="text-align-end fs-price">Subtotal: ₹ {{cart.price}}</div>
    </mat-card>
    
</ng-container>


