/* You can add global styles to this file, and also import other style files */
.text-align{
  padding-top: 12px;
  text-align: end;
}

.bg{
  background-color: #bdbec581;
}

.fs{
  font-size: larger;
}

.text-color{
  color: white;
}

.pg{
  padding: 14px;
}

.h-50{
  height: 50px !important;
}

.b-5{
  border-radius: 5px;
}

.d-flex{
  display: flex;
}

.justify-space{
  justify-content: space-between;
}

.p-30{
  padding: 30px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-80{
  width: 80%;
}

.pg-top{
  padding-top: 12px;
}

.img-w{
  width: 37px;
}

.example-card {
  max-width: 600px;
  margin-bottom: 8px;
}

.justify-center{
  justify-content: center;
}

.cart-btn-color{
  color: blue;
}

.cart-whis-btn{
  color: palevioletred;
}

.mat-badge {
  position: absolute !important;
}

.cursor{
  cursor: pointer;
}

.rating{
  color: goldenrod;
}

.stock-txt{
  color: green;
}

.text-align-end{
  text-align: end;
}

.cart-img{
  width: 110px;
}

.fs-cart{
  font-size: xx-large;
}

.back-btn{
  background-color: #5f5ff7cf;
  color: white;
}

.bg-cart{
  background-color: midnightblue;
}

.fs-price{
  font-size: 25px;
}

.fs-head{
  font-size: 20px;
  font-weight: 500;
}

.text-align-center{
  text-align: center;
}